  <p>
    <strong>Название:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Текст:</strong>
    <%= @article.text %>
  </p>

  <p>
    <%= check_box_tag(:publish) %>
    <%= label_tag(:publish, "publish") %>
    <%= check_box_tag(:unpublish) %>
    <%= label_tag(:unpublish, "unpublish") %>
  </p>

<%= link_to 'Править', edit_article_path(@article) %>
<%= link_to 'Назад', articles_path %>
<%= link_to 'Применить', articles_path %>